<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="login.component.scss" type="text/scss" />
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
</head>

<body>
    <header>
        <div class="title_div">
            <h1 id="page_header">Moodverse</h1>
        </div>
    </header>

    <main>
        <div class="main-page" >
            <a href="/index"><button type="button" class="btn btn-light" id="link-main"><i class="fa-solid fa-house"></i><br><span class="textbuton">Main Page</span></button></a>
        </div>
        <div class="form_template_login">
            <h1 id="form_header">{{ text }}</h1>
            <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="doLogin()">
                <div class="login_form">
                    <div class="form-group">
                        <label class="form_rows">Email</label>
                        <br>
                        <input class="form-control" placeholder="Your username"
                            [ngClass]="loginForm.controls['email'].errors ? 'is-invalid' : ''" formControlName="email"
                            required />
                    </div>

                    <div class="form-group">
                        <label class="form_rows">Password </label>
                        <br>
                        <input class="form-control" placeholder="Your password"
                            [ngClass]="loginForm.controls['password'].errors ? 'is-invalid' : ''"
                            formControlName="password" required  type="password"/>
                    </div>
                </div>
                <br>
                <button [disabled]="loginForm.invalid" type="submit" class="btn btn-dark" id="login_button">{{ text
                    }}</button>
            </form>
        </div>
    </main>

    <footer>

    </footer>
</body>

</html>