<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.component.scss" type="text/scss"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Moodverse</title>
</head>
<body>

    <div class="grid-container">
        <div class="titlu">
          <h1>Moodverse</h1>
          <li *ngIf = "isEnabled"><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
          <li *ngIf = "isEnabled"><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        </div>
        <div class="profil-streak" *ngIf = "!isEnabled">
            <ul>
                <div id="streak">
                    <li class="profil-list" >
                        <i class="fa-solid fa-fire-flame-curved"></i>
                    </li>
                </div>
                <div id="profil">
                    <li class="profil-list" >
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-user"></i><br><span class="textbuton">Profile</span></button>
                    </li>
                </div>
                <div id="logout">
                    <li class="profil-list" >
                        <button type="button" class="btn btn-light"><i class="fa-solid fa-arrow-right-from-bracket"></i><br><span class="textbuton">Log Out</span></button>
                    </li>
                </div>

            </ul>
        </div>

        <div class="meniu">
            <ul>
                <li>
                    <button type="button" class="btn btn-light" id="background" (click)="backgroundsFunction()"><i class="fa-solid fa-image"></i><br><span class="textbuton">Background</span></button>
                </li>
                <li>
                    <button type="button" class="btn btn-light" id="ambience" (click)="ambiencesFunction()"><i class="fa-solid fa-headphones"></i><br><span class="textbuton">Ambience</span></button>
                </li>
                <li>
                    <button type="button" class="btn btn-light" id="quote" (click)="quotesFunction()"><i class="fa-solid fa-quote-left"></i><br><span class="textbuton">Daily Quote</span></button>
                </li>
                <li>
                    <button type="button" class="btn btn-light" id="todolist" (click)="todolistsFunction()"><i class="fa-solid fa-list-ul"></i><br><span class="textbuton">To Do List</span></button>
                </li>    
            </ul>
        </div>

        <div *ngIf="backgrounds"  class="float-div" id="float-background" cdkDrag>
            Background images
        </div>

        <div *ngIf="ambiences"  class="float-div" id="float-ambience" cdkDrag>
            Ambience sounds
        </div>

        <div *ngIf="quotes"  class="float-div" id="float-quote" cdkDrag>
            Daily quote text
        </div>

        <div *ngIf="todolists"  class="float-div" id="float-todolist" cdkDrag>
            To do list text
        </div>
        
    </div>
</body>
</html>
