.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }

  /*
 .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }*/

.titlu > h1 {
    font-size: 30px;
}

.profil-streak {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }

.titlu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  }

h1{
  font-family: 'Julius Sans One';
}

.meniu {
    position: fixed;
    top: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
  }

.textbuton {
  font-size: 12px;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul >li {
  width: 100%;
}

/*
.profil-list {
  display: inline-block;
  //position: fixed;
  top: 0;
  right: 0;
}*/

.float-div {
  // width: 200px;
  // height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.float-div:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#quote, #todolist, #background, #ambience {
  height: 100%;
  width: 100%;
}

#streak {
  position: fixed;
  top: 20px;
  right: 15%;
}

#profil {
  position: fixed;
  top: 20px;
  right: 120px;
}

#logout {
  position: fixed;
  top: 20px;
  right: 30px;
}

#float-quote{
  background: rgba(255, 255, 255, 0.2);
  width: 200px;
}

#login, #register{
  position: fixed;
}

#login{
  top: 15px;
  right: 120px;
  width: 6%;
}

#register{
  width: 6%;
  top: 15px;
  right: 30px;
}

a, a:hover{
  text-decoration: none;
  color: black;
}

#adminButton{
  position: fixed;
  top: 50%;
  right: 50%;
}