$color-1: #CCB5F5;
$color-2: #F5C9C4;
$color-3: #A9D4F5;
$color-4: #F5F090;
$color-5: #9DF5C7;

body {
  // background-image: url("/assets/pauline-heidmets-GTL39WM6QqA-unsplash.jpg");
  background-size:cover
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }

  /*
 .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }*/

.titlu > h1 {
    font-size: 30px;
}

.profil-streak {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }

.titlu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  }

h1{
  font-family: 'Julius Sans One';
  text-shadow: 2px 2px 2px white;
}

.meniu {
    position: fixed;
    top: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
  }

.textbuton {
  font-size: 12px;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul >li {
  width: 100%;
}

/*
.profil-list {
  display: inline-block;
  //position: fixed;
  top: 0;
  right: 0;
}*/

.float-div {
  // width: 200px;
  // height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  // display: flex;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.float-div:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#quote, #todolist, #background, #ambience {
  height: 100%;
  width: 100%;
}

#streak {
  position: fixed;
  top: 20px;
  right: 15%;
}

#profil {
  position: fixed;
  top: 20px;
  right: 120px;
}

#logout {
  position: fixed;
  top: 20px;
  right: 30px;
}

#float-quote{
  background: rgba(255, 255, 255, 0.5);
  width: 200px;
}

#login, #register{
  position: fixed;
}

#login{
  top: 15px;
  right: 120px;
  width: 6%;
}

#register{
  width: 6%;
  top: 15px;
  right: 30px;
}

a, a:hover{
  text-decoration: none;
  color: black;
}

#adminButton{
  position: fixed;
  top: 50%;
  right: 50%;
}

// GRID BACKGROUND NU E TERMINAT

// .grid-backgrounds {
//   display:grid;
//   grid-template-columns: repeat(1,0.5fr);
//   row-gap: 2em;
//   column-gap: 2em;
// }

// .background{
//   border: 1px solid;
//   width: 100%;
// }

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

h3{
  font-family: 'Julius Sans One';
  font-size: 20px;
}

.task{
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: auto auto;
}

.inputTask{
  grid-column-start: 1;
  grid-column-end: 2;
  
}

.cos{
  grid-column-start: 2;
  grid-column-end: 3;
}

#cos{
  position: absolute;
  right: 20px;
  font-size: 16px;
  margin: -7px;
  transition: color 0.1s ease-in-out;
}

#cos:hover{
  color: $color-1;
}

// #bulina{
//   font-size: 10px;
// }

.newTask{
  border-radius: 1px solid grey;
  width: 85%;
}

.butonCos{
  border-style: none;
  background-color: transparent;
  width: 10%;
  outline: none;
}

.progress{
  font-size: 12px;
  background-color: $color-5;
  height: 30px;
}

.progress > p{
  padding: 5px;
}

