$color-1: #CCB5F5;
$color-2: #F5C9C4;
$color-3: #A9D4F5;
$color-4: #F5F090;
$color-5: #9DF5C7;

body {
  // background-image: url("/assets/pauline-heidmets-GTL39WM6QqA-unsplash.jpg");
  background-size: cover
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.titlu>h1 {
  font-size: 30px;
}

.profil-streak {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
}

.titlu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

h1 {
  font-family: 'Julius Sans One';
  text-shadow: 2px 2px 2px white;
}

.meniu {
  position: fixed;
  top: 100px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
}

.textbuton {
  font-size: 12px;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul>li {
  width: 100%;
}

/*
.profil-list {
  display: inline-block;
  //position: fixed;
  top: 0;
  right: 0;
}*/

.float-div {
  // width: 200px;
  // height: 200px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  // display: flex;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.float-div:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#quote,
#todolist,
#background,
#ambience,
#ball {
  height: 100%;
  width: 100%;
}

#streak {
  position: fixed;
  top: 20px;
  right: 15%;
}

#profil {
  position: fixed;
  top: 20px;
  right: 120px;
}

#logout {
  position: fixed;
  top: 20px;
  right: 30px;
}

#float-quote {
  background: rgba(255, 255, 255, 0.5);
  width: 200px;
}

#login,
#register {
  position: fixed;
}

#login {
  top: 15px;
  right: 120px;
  width: 6%;
}

#register {
  width: 6%;
  top: 15px;
  right: 30px;
}

a,
a:hover {
  text-decoration: none;
  color: black;
}

#adminButton {
  position: fixed;
  top: 50%;
  right: 50%;
}

// BACKGROUND 

#float-background {
  background: rgba(255, 255, 255, 0.5);
  height: 350px;
  width: 400px;
}

.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 300px;
  border-radius: 15px;
  // box-shadow: 0px 12px white;
}

.carousel-container img {
  display: none;
  border-radius: 10px;
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  // height: 400px;
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: none;
}

.btn-prev {
  left: 0;
}

.btn-next {
  right: 0;
}

.icon-carousel {
  color: #fff;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:hover {
  // color: white;
  opacity: 0.9;
}

.icon-carousel:active {
  opacity: 0.5;
}

.icon-next,
.icon-prev {
  font-size: 35px;
}


// AMBIENCE 

h3 {
  font-family: 'Julius Sans One';
  font-size: 20px;
  text-align: center;
}


#float-ambience {
  height: 350px;
  width: 400px;
  overflow: scroll;
  background: rgba(255, 255, 255, 0.5);
  padding-left: 20px;
}

h3 {
  font-family: 'Julius Sans One';
  font-size: 20px;
}

.task {
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: auto auto;
  overflow: scroll;
}

.inputTask {
  grid-column-start: 1;
  grid-column-end: 2;
}

.cos {
  grid-column-start: 2;
  grid-column-end: 3;
}

#cos {
  position: absolute;
  right: 20px;
  font-size: 16px;
  margin: -7px;
  transition: color 0.1s ease-in-out;
}

#cos:hover {
  color: $color-1;
}


.newTask {
  border-radius: 1px solid grey;
  width: 85%;
}

.butonCos {
  border-style: none;
  background-color: transparent;
  width: 10%;
  outline: none;
}

.progress {
  font-size: 12px;
  background-color: $color-5;
  height: 30px;
}

.progress>p {
  padding: 5px;
}


// MOOD

.purple {
  background-color: $color-1;
}

.red {
  background-color: $color-2;
}

.blue {
  background-color: $color-3;
}

.yellow {
  background-color: $color-4;
}

.green {
  background-color: $color-5;
}


#float-tracker {
  height: 300px;
  width: 250px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 50px;
  left: 500px;
}

#float-tracker>ul>li>button {
  width: 150px;
  text-align: left;
}

#mood{
  padding:10px;
}

// 8 BALL

#float-8ball {
  height: 170px;
  width: 300px;
  background: rgba(255, 255, 255, 0.5);
}

#ball-ask {
  position: relative;
  //top: 20px;
  height: 30px;
  width: 100%;
}

.ball-msj {
  position: relative;
  top: 10px;
}

#ball8{
  padding:10px;
}

#float-todolist{
  background: rgba(255, 255, 255, 0.5);
  height: 300px;
  width: 400px;
  position: relative;
  overflow: scroll;
}