<!-- <p> Register works </p> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="register.component.scss" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <header>
        <div class="title_div">
            <h1 id="page_header">Moodverse</h1>
        </div>

    </header>
    <main>
        <div class="main-page" >
            <button type="button" class="btn btn-light" id="link-main"><a href="/index"><i class="fa-solid fa-house"></i><br><span class="textbuton">Main Page</span></a></button>
        </div>
        <div class="form_template_register">
            <h1 id="form_header">Sign Up</h1>
            <form [formGroup]="registerForm" id ="registerForm" (ngSubmit)="doRegister()">
                <div class="register_form">
                    <div class="form-group">
                        <label class="form_rows">E-mail</label>
                        <br>
                        <input class="form-control" 
                        [ngClass]="registerForm.controls['email'].errors ? 'is-invalid' : ''"
                        formControlName="email" 
                        placeholder="Your email"
                        required />
                    </div>
<!-- 
                    <div class="form-group">
                        <label class="form_rows">Username</label>
                        <br>
                        <input class="form-control" 
                        [ngClass]="registerForm.controls['username'].errors ? 'is-invalid' : ''"
                        formControlName="username" 
                        placeholder="Your username"
                        required />
                    </div> -->

                    <!-- <br> -->

                    <div class="form-group">
                        <label class="form_rows">Password</label>
                        <br>
                        <input class="form-control" 
                        [ngClass]="registerForm.controls['password'].errors ? 'is-invalid' : ''"
                        formControlName="password"
                        placeholder="example: User@123"
                        required />
                    </div>

                    <!-- <br> -->

                    <div class="form-group">
                        <label class="form_rows">Confirm Password</label>
                        <br>
                        <input class="form-control" 
                        [ngClass]="registerForm.controls['confirmPassword'].errors ? 'is-invalid' : ''"
                        formControlName="confirmPassword"
                        placeholder="Confirm your password"
                        required />
                    </div>
                </div>

                <button 
                id="register_button"
                [disabled]="registerForm.invalid" 
                type="submit" class="btn btn-dark">{{text}} </button>

            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
